htlm {
    height: 100%;
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: green;
}

h1{
    margin-top: 0;
}

.game_full{
    display: none;
    background-color: gray;
    border: 2px black solid;
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info{grid-area: info;}
.player-top{grid-area: playertop;}
.player-left{grid-area: playerleft;}
.player-right{grid-area: playerright;}
.points-panel{grid-area: points;}
.game-board{grid-area: board;}
.hand{grid-area: hand;}

.playground{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
        "info playertop points"
        "playerleft board playerright"
        "hand hand hand";
 }

/* Hand Cards */
.player{
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.pl-top-name,.pl-left-name, .pl-right-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cards{
    display: none;
    width: 100%; 
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

.card{
    width: 10%;
    padding: 0.5em;
}

.card > img{
    width: 100%;
    height: 100%;
    box-shadow: 3px 2px 0 black;
    border-radius: 10px;    
    z-index: 1;
    opacity: 0.5;
}

.card > img:hover, .atoutSelector > img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .2s ease-in-out;
    z-index: 2;
}

.middle{
    display: flex;
    flex-wrap: wrap;
}

.pile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-pile{
    padding: .3em;
    display: inline-block;
}

.card-pile > img{ 
    display: block;
    margin: auto; 
    max-width: 80%;
    box-shadow: 3px 2px 0 black;
    border-radius: 10px;    
}

.player-1{color: red}
.player-2{color: blue}
.player-3{color: purple}
.player-4{color: yellow}

.scores{
    height: 100%;
    width: 100%;
}

.atoutSelector{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    background-color: white;
}

.atoutSelector > img{
    display: inline-block;
    height: 8em;
    width: 24%;
}

.chibre{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
}


.info{
    display: flex;
}
.actions{
    width: 50%;
    height: 100%;
}

.currentAtout{
    width: 50%;
    height: 100%;
}

.actions > h4{
    margin-left: 10px;
}

.currentAtout > img{
    width: 100%;
    max-width: 100px;
    padding: 1em;
}