body{
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;
}

.game_full{
    display: none;
    background-color: gray;
    border: 2px black solid;
    position: absolute;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playground{
    /* width: 100%;
    height: 600px; */
    margin: 0;
    box-sizing: border-box;
}

.cards{
    display: none;
    width: 100%; 
    justify-content: center;
}

.card{
    display: inline-block;
    width: 10%;
    padding: 1em;
    box-sizing: border-box;    
}

.card > img{
    width: 100%;
    height: 100%;
    box-shadow: 3px 2px 0 black;
    border-radius: 10px;    
    z-index: 1;
    opacity: 0.5;
}

.card > img:hover, .atoutSelector > img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .2s ease-in-out;
    z-index: 2;
}

.card-pile{
    padding: .3em;
    display: inline-block;
}

.card-pile > img{  
    width: 100px;
    box-shadow: 3px 2px 0 black;
    border-radius: 10px;    
}


.middle{
    display: flex;
    flex-wrap: wrap;
}

.pile{
    width: 60%;
    height: 300px;
    background-color: red;
}

.sidePlayers{
    width: 20%;
    height: 300px;
    background-color: gray;
}


.player-1{color: red}
.player-2{color: blue}
.player-3{color: purple}
.player-4{color: yellow}

.desktop{
    display: flex;
}

.scores{
    border: black 2px solid;
}

.middle{
    width: 100%;
    height: 100%;
}


.atoutSelector{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 10em;

    left: 50%;
    top: 60%;
    transform: translate(-50%, 0);
    
    background-color: white;
}

.atoutSelector > img{
    display: block;
    height: 8em;
    width: 24%;
}